* {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #a6fdbc;
  --color-container-background: rgba(5, 15, 0, 0.7);

  --slider-thumb-color: #ff8e48;
  --slider-bar-color: #14ff00;
  --slider-background-color: #fffbf7;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

//**************************//
//         STEP 1           //
//**************************//

.camera-container {
  position: relative;
  width: 80%;
  height: 90%;
  border-radius: 50px;
  overflow: hidden;
}

.step2-title-container {
  position: absolute;
  z-index: 1;
  top: 110px;
}

.pseudo-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: 70px;
  padding: 0 16px 0 16px;
  max-height: 120px;
  min-width: 410px;
  border-radius: 30px;
  background-color: var(--color-container-background);
  .step2-pseudo-field {
    text-align: center;
    font-size: 69px;
    font-weight: 700;
    letter-spacing: 11px;
    color: var(--primary-text-color);
  }
}

//**************************//
//         STEP 2           //
//**************************//

.game {
  background-image: url(images/step-1-background.png);
  background-size: cover;
  background-position: center;
}

.ui-image-1 {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 99;
  width: 200px;
}

.ecrous {
  $space-ecrous: 20px;

  img {
    position: fixed;
  }

  img:nth-of-type(1) {
    top: $space-ecrous;
    left: $space-ecrous;
  }
  img:nth-of-type(2) {
    top: $space-ecrous;
    right: $space-ecrous;
  }
  img:nth-of-type(3) {
    bottom: $space-ecrous;
    left: $space-ecrous;
  }
  img:nth-of-type(4) {
    bottom: $space-ecrous;
    right: $space-ecrous;
  }
}

.rec-container {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  z-index: 9;
}
.rec-txt {
  margin-left: 20px;
  font-size: 30px;
  font-family: "Futura";
  color: #b6c2c3;
  font-weight: 900;
}

.camera-container {
  position: relative;
  width: 80%;
  height: 90%;
  border-radius: 50px;
  overflow: hidden;
}
.rec-icon {
  height: 50px;
  width: 50px;
  background-image: url(images/bg-rec.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    animation: recAnimation 1s infinite;
  }
}

canvas {
  position: absolute;
}

.video {
  transform: translate(-50px, -50px);
}
#canvasContainer {
  position: absolute;
}
.face-target {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: recAnimation 1s infinite 1s;
}

.scan-bar {
  position: absolute;
  top: -20px;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: red;
  z-index: 999;

  &.active {
    animation: scanTranslate 3s normal;
  }
}

@keyframes scanTranslate {
  0% {
    top: -20px;
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

@keyframes recAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

//**************************//
//         STEP 3           //
//**************************//

.loading {
  width: 100%;
  height: 100%;
}

.ia {
  position: relative;
}

.ia,
.ia-neutral,
.ia-talking {
  display: none;
  width: 100%;
  height: 100%;
}

.ia-neutral,
.ia-talking {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 150px;
}

//**************************//
//         STEP 4           //
//**************************//

.step-4-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.oxygen-min {
  width: 125px;
  position: absolute;
  left: 125px;
}

.btn {
  all: unset;
  position: absolute;

  img {
    width: 150px;
  }
}

.canvasbox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.videobox {
  display: none;
}

.cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 10000;
  background: center / contain no-repeat;
  background-image: url("/images/open-cursor.png");
}

//**************************//
//         STEP 5           //
//**************************//

.sliders,
.step5_remaining_time {
  position: absolute;
  z-index: 1;
}

.step-5-game {
  background-image: url(images/step-5-background.png);
}
.step5_remaining_time {
  bottom: 60px;
  right: 250px;
}
.step5_canvasbox {
  opacity: 0;
  position: absolute;
  z-index: 501;
}
.step5_videobox {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 501;
}
#cursor {
  position: fixed;
  z-index: 500;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background-color: #0095ff32;
  border: 1px solid #0095ff;
  border-radius: 10%;
}
.sliders {
  display: flex;
  gap: 64px;
}
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"].vertical {
  appearance: slider-vertical;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  position: relative;
  height: 448px;
  grid: 1/1/1/1;
}

input[type="range"]:not(.vertical)::-webkit-slider-runnable-track {
  position: relative;
  height: 8px;
  border-radius: 8px;
}

input[type="range"]:not(.vertical)::-webkit-slider-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: var(--slider-thumb-color);
  border-radius: 64px;
  width: 46px;
  height: 139px;
  top: 50%;
  translate: 0 -50%;
}

input[type="range"]:not(.vertical) {
  appearance: none;
  background-color: transparent;
  rotate: -90deg;
  grid: 1/1/1/1;
  width: 448px;
  height: 60px;
  border-radius: 41px;
  border: 7px var(--slider-thumb-color) solid;
  background-color: var(--slider-background-color);
  position: absolute;
}

#range-2,
#range-3 {
  pointer-events: none;
  touch-action: none;
}

//**************************//
//         STEP 6           //
//**************************//

.step-6-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.step-6-neutral-ia {
  position: absolute;
  top: 150px;
  width: 700px;
  height: 500px;
}

//**************************//
//         STEP 7           //
//**************************//

.step-7-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.step-7-btn-container {
  position: absolute;
  display: flex;
  gap: 50px;
}

.step-7-btn {
  width: 200px;
}

//**************************//
//         STEP 8           //
//**************************//

.step-8-background {
  background-image: url(/images/step-8-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.step-8-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 920px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
